#header {
  background: url("../assets/Biscuits.png") center center / cover no-repeat;
  color: white;
}

#header h1 {
  color: white;
  padding: 50px;
}

.accountEl {
  cursor: pointer;
}

.account {
  filter: blur(4px);
}
