.activityfield-title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin-top: 3rem;
  text-align: center;
}

.activityfield-row {
  padding: 0;
  margin-top: 6rem;
}

.btn-lg {
  font-size: 2.2rem;
}
