.button-enter {
  width: 490px;
  height: 75px;
  background-color: #1e79ff;
  color: white;
  border: 0;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
}

.button-enter:hover {
  background-color: blue;
  cursor: pointer;
}

.button-enter-link {
  display: flex;
  width: 490px;
  height: 75px;
  color: white;
  border-radius: 20px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
