.cartStoreName {
    background-color: rgb(220, 220, 220);
    padding: 0.25rem 0.25rem;
}

.cartProductImg {
    height: 8vh;
    width: 6vw;
    object-fit: cover;
}

.cartTOTAL {
    color: #A307EC;
}