a {
  text-decoration: none;
  color: black;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 800px;
}

.head{
  
}

.connect_login_register {
  margin: 40px 0px 40px 0px;
  font-size: 48px;
}
