.create {
  position: absolute;
  background-color: white;
  width: 20rem;
  height: 15rem;
  justify-content: space-around;
}

.create-background {
  background-color: rgba(0, 0, 0, 50%);
  position: fixed;
  top: 0%;
  height: 100%;
  width: 100%;
  left: 12px;
}
