.createstore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.createstore-title {
  font-size: 48px;
}
.createstore-text-enter {
  font-size: 30px;
  width: 475px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}

.form-group {
  margin-top: 4em;
}

.form-control input {
  border: 0;
}

.createstore-button-next {
  width: 490px;
  height: 75px;
  border-radius: 20px;
  font-size: 30px;
}


