footer {
  background-color: white;
  /*padding: 10px 10px 0px 10px;*/
  /*width: 100%;*/
}

.content{
  min-height: calc(100vh);
}

footer hr {
  border: none;
  height: 1.2px;
  background-color: black;
}



#footer-form-input {
  border-color: black;
  border-radius: 0.25rem;
}

#footer-form-btn {
  border-color: white;
  border-radius: 0.25rem;
}
  