.head{
    display: flex;
    flex-direction: row;
    background-color: #303030;
    height: 77px;
}

.left-head{
    display: flex;
    flex-direction: row;
}

.App-logo{
    height: 77px;
}

.head-title{
    margin-top: 25px;
    color: white;
    margin-left: 500px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;

}



.head-title-color{
    color: #A307EC;
}
.right-head{
    display: flex;
    flex-direction: row;
    position:absolute;
    right:30px;
    top:15px;
}

.register-link{
    margin-right: 15px;
    color: white;
}

.connect-link{
    color: white;
}

