#mainNavbar p {
    margin-bottom: 0;
   }


.head-title-color{
    color: #A307EC;
}

header{
    background-color: #313131;
    /*overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    /*top: 0; /* Position the navbar at the top of the page */
   /* width: 100%; /* Full width */
}

.brand{
    color: white;
}

.headLabel{
    color: white;
}


.slider {
    -webkit-appearance: none;
    width: 10vw;
    height: 10px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #A307EC;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #A307EC;
    cursor: pointer;
  }

  .btnSearch:hover {
    background-color: #A307EC;
  }

