.productCard {
    border-radius: 0;
}

.productCardImg {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.productCardRow {
    --bs-gutter-x: 0;
}

.card .toCartIcon {
    cursor: pointer;
}

.card--badge {
    background-color: red;
    border-radius: 2px;
    font-weight: bold;
    position: absolute;
}

.oldPrice{
    position: absolute;
    margin: 0;
    font-weight: bold;
}


  /* ACCUEIL */
  .hehe  {
    height: 96vh;
   } 
 
   .firstContent  {
    height: 48vh;
    position: absolute;
    color: white;
    margin-top: 48vh;
    margin-left: 100px;
   } 
   .firstContent h1 {
    font-size: 60px;
   }



   #first {
    background-image: url("../assets/home1.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 24vw;
    padding-bottom: 20vw;
    color: white;
   }
   #first h1 {
    color: white;
    font-size: 60px;
    position: absolute;
   }
   .firsContent button {
    position: absolute;
    font-size: 2vw;
   }

   
   #fourth h1 {
    color: white;
    font-size: 60px;
    position: absolute;
   }
   
   #third {
    background-image: url("../assets/home2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vh;
   }
   
   #fourth {
    background-image: url("../assets/home3.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vh;
    color: white;
   }

   @media only screen and (max-width: 1400px) {
    #first {
        display: none;
    }
  }

  #fourth2 {
    background-image: url("../assets/home2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vh;
    color: white;
   }
   
   #third2 {
    background-image: url("../assets/home1.png");
    background-color: #cccccc;

    background-repeat: no-repeat;
    background-size: cover;
    height: 48vh;
    color: white;
   }

   #homeProducts {
       margin-bottom: 2.2rem;
   }