.policyRadio > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* ... */
  }
  
  .policyRadio > input[type="radio"] {
    /* remove standard background appearance... */
  
    /* create custom radio button appearance */
    display: inline-block;
    width: 15px;
    height: 15px;  
    padding: 3px;
    background-clip: content-box;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 0;
  }
  
  .policyRadio > input[type="radio"]:checked {
    background-color: #A307EC;
  }
  
  
  .policyRadio > input[type='radio']:hover {
    box-shadow: 0 0 5px 0px #A307EC inset;
  }
  
  .policyRadio > input[type='radio']:focus {
   outline: 1px solid green;
  }