#quantityBtnMinus {
    padding: 0.175rem 0.25rem;
}

#quantityBtnPlus {
    padding: 0.175rem 0.25rem;
}

#quantityCount {
    margin-top: 0.175rem;
    margin-bottom: 0;
}

.productSlidePhotos{
    height: 50vh;
    object-fit: cover;
}