.register-title {
  font-size: 48px;
}

#registerLeft {
  background-image: url("../assets/LoginRegister.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 96vh;
}


@media only screen and (max-width: 768px) {
  #registerLeft {
      display: none;
  }
}

.registerCnt {
  height: 100vh;
}

.registerRadio > input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* ... */
}

.registerRadio > input[type="radio"] {
  /* remove standard background appearance... */

  /* create custom radio button appearance */
  display: inline-block;
  width: 15px;
  height: 15px;  
  padding: 3px;
  background-clip: content-box;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 0;
}

.registerRadio > input[type="radio"]:checked {
  background-color: #A307EC;
}


.registerRadio > input[type='radio']:hover {
  box-shadow: 0 0 5px 0px #A307EC inset;
}

.registerRadio > input[type='radio']:focus {
 outline: 1px solid green;
}

.rgFormBtns{
  width: 7rem;
}


